header {
  color: blue;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

nav {
  background-color: rgb(135, 222, 210);
  margin-left: 100px;
  margin-right: 300px;
  border: solid black 1px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.cabecalho li{
  display: inline-block;
  margin-right: 10px;
}

.article {
  margin: 20px;
  display: inline-block;
}

h3 {
  text-align: center;
}
.img {
  width: 200px;
  
}

div {
  text-align: center;
  border: solid 3px blue;
}

footer {
  background-color: cadetblue;
  margin: -10px;
  padding: 20px;
  text-align: center;
}

body {
  background-color: cyan;
  display: inline-block;
}

aside {
  border: solid black 1px;
  width: 100px;
  height: 300px;
  text-align: center;
  display: inline-block;
  margin-top: -px;
}

main {
  display: inline-block;
  border: solid 5px green;
  display: inline-block;
  width: 70%;
  margin-left: -300px;
}

#div-main {
  display: inline-block;
}