h1 {
  font-family: sans-serif;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: aquamarine;
}

#perseverante {
  font-size: x-large ;
}

#desafiador {
  font-size: x-small;
}

#lider {
  font-size: 40px;
}